*, *::after, *::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Vazirmatn;
}

body {
    width: 100%;
    height: 100vh;
    display: flex;
    direction: rtl;
    overflow: hidden;
    user-select: none;
    align-items: center;
    font-family: Vazirmatn;
    flex-direction: column;
    justify-content: center;
    background-color: #212121;
    h2 {
        color: #80B0FF;
        line-height: 33px;
        margin-bottom: 16px;
    }
}

.gift {
    width: 300px;
    height: 300px;
    cursor: pointer;
    animation-delay: 0.5s;
    animation-iteration-count: infinite;
}

.container {
    width: 90%;
    color: #fff;
    display: flex;
    z-index: 1001;
    padding: 16px;
    overflow: auto;
    font-size: 16px;
    max-height: 80vh;
    max-width: 400px;
    font-weight: bold;
    min-height: 120px;
    line-height: 30px;
    position: relative;
    border-radius: 8px;
    align-items: center;
    justify-content: center;
    backdrop-filter: blur(3px);
    background-color: rgba(0, 0, 0, 0.1);
    p {
        position: absolute;
    }
}

.hidden {
    display: none;
}